[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
keras = "*"
numpy = "*"
tensorflow = "*"
scipy = "*"
matplotlib = "*"
tensorflow-probability = "*"

[dev-packages]

[requires]
python_version = "3.10"
